@using CarRental.MVC.Models
@model CarViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";

    var linktopicture = "/Guest/GetImage/" + Model.ModelID.ToString();

    ModelView thisModel = ViewBag.thisCarModel;

}

<h3>Your Slection</h3>

<div class="reservation">
    <h2>@thisModel.NameofModel</h2>
    <br />
    <br />
    <img src="@linktopicture" />
    <br />
    <p>Miliage:@Model.Mileage </p>
    <br />
    <p>Car Number:@Model.CarNumber</p>
    <br />
    <p>Price: @ViewBag.price</p>
    <br />
    <input type="button" value="Confirm" class="btn btn-success" />   <input type="button" value="Cancel" class="btn btn-danger" />
</div>



   
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script src="~/Scripts/ViewScripts/CustomerScript.js"></script>
