@model IEnumerable<CarRental.MVC.Models.DealViewModel>
@{
    ViewBag.Title = "MyBusket";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>MyBusket</h2>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}