
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}



<main>
    <h2>Car Return</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>

        <div class="row row-divided">
            <div class="col-md-6 column-one">

            </div>
            <div class="vertical-divider"></div>
            <div class="col-md-offset-1 col-md-3 column-two">

            </div>
        </div>
    </div>



    <div id="dialog" title="Deal Closing">
        <p style="color:red" id="lateRetrunFine"></p>
        <button class="btn btn-success" id="confirm">Close the Deal</button>   <button class="btn btn-danger" id="cancell">Cancell</button>
    </div>


</main>
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<script src="~/Scripts/ScriptLibriaries/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/bootstrap.min.js"></script>
<script src="~/Scripts/ScriptLibriaries/moment.min.js"> </script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/ViewScripts/MainScript.js"></script>
<script src="~/Scripts/ViewScripts/EmployeeScript.js"></script>