
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Scripts/ViewScripts/EmployeeScript.js"></script>


<h2>Car Return</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>

    <div class="row row-divided">
        <div class="col-xs-6 column-one">
            
        </div>
        <div class="vertical-divider"></div>
        <div class="col-xs-6 column-two">

        </div>
    </div>
</div>