
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Manager/ManagersLayout.cshtml";
}
<br />
<br />
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>

        <div class="row row-divided">
            <div class="col-md-6 column-one">
                <video width="640" height="480" controls autoplay>
                    <source src="~/Content/movie.mp4" type="video/mp4">
                </video>
            </div>
            <div class="vertical-divider"></div>
            @*<div id="actionSuccses"></div>
            <div id="actionFailure"></div>*@
            <div class="col-md-6 column-two">

            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <

</main>

