
@{
    ViewBag.Title = "ManagersLayout";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Scripts/ViewScripts/ManagerControllerScript.js"></script>

<h2>ManagersLayout</h2>
<div class="collapse navbar-collapse"  >
<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li class="dropdown" role="presentation"><a class="dropdown-toggle" data-toggle="dropdown"  role ="button" aria-haspopup="true" aria-expanded="false">Orders<span class="caret"></span></a>
    <ul class="dropdown-menu">
    <li><a href="#" id="addDeal">Add Deal</a></li>
    <li><a href="#" id="editDeal">Edit Deals</a></li>
    @*<li><a href="#" id="deleteDeal">Delete Deal</a></li>*@                                                  
    </ul></li>

    <li class="dropdown" role="presentation"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vehicles<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#" id="addnewModel">Add Model</a></li>
        <li><a href="#" id="editModel">Edit Models</a></li>
        @*<li><a href="#" id="deleteModel">Delete Model</a></li>*@
        <li><a href="#" id="addnewcar">Add Car</a></li>
        <li><a href="#" id="editCar">Edit Cars</a></li>
        @*<li><a href="#" id="deleteCar">Delete Car</a></li>*@
        <li><a href="#" id="addManufatorer">Add Manufacturer</a></li>
        <li><a href="#" id="editManufactorer">Edit Manufacturers</a></li>
        @*<li><a href="#" id="deleteManufactorer">Delete Manufacturer</a></li>*@
    </ul></li>

    <li class="dropdown" role="presentation"><a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  href="#">Users<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li> <a href="#" id="addnewClient">Add Client</a></li>
        <li> <a href="#" id="editClient">Edit Clients</a></li>
        @*<li> <a href="#" id="deleteClient">Delete Client</a></li>*@
    </ul>
    
    </li>
</ul>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            
        </div>
    </div>
   
    <div class="row row-divided">
        <div class="col-xs-5 column-one">
         
        </div>
        <div class="vertical-divider"></div>
        <div class="col-xs-7 column-two">
           
        </div>
    </div>
</div>

@RenderBody()