
@{
    ViewBag.Title = "ManagersLayout";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>ManagersLayout</h2>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Orders</a></li>
    <li role="presentation"><a href="#">Vehicles</a></li>
    <li role="presentation"><a href="#">Users</a></li>
</ul>

@RenderBody();
