body{
    background-color: #80ffff;
    font-family: 'Arvo', serif;
  
}

main{
    margin-bottom: 100px;
    
}


img{

    width:300px;
    height:200px;
}


#logo{

    width:250px;
    height: 150px;
    border-radius:5px;
}

.jumbotron{
  margin: 0 auto;
  width: 800px;
  border-radius:20px;
  margin-top:100px;    
}

.jumbotext{
    padding-left: 30px;
    text-align:left;
}

footer{
    background-color: #0781C9;
    color:white;
    padding-right: 40px;
}


.carlist{
    margin-top: 50px;
    margin-bottom:30px;
}

.list-group-item{
    margin-bottom:20px;
    margin-left:10px;
    margin-right:10px;
}

.carsearch{

    margin-bottom: 60px;

}



.addbutton{

    margin-top:-20px;
    margin-bottom:20px;
}



.cellwhithbuttons{
    text-align:center;
}

.calculate{   
     margin: 15px 0 5px 30%;

     
}

#interested .calculate {

    margin: auto;
    margin-top: 10px;
   
}



#dialog {
    background-color: dodgerblue;
    color: white;
}

.reservation {
    margin-left: 50px;
    width: 350px ;
    text-align:center;
    background-color:#ccccff;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888,inset -1px -6px 12px 0.1px #89847e;
}

.actionSuccses{
    background-color:#66ff66;
    padding: 20px 50px;
    margin-right: 250px;
    text-align:center;
}

#selectedcars{

    border-top:dashed 1px black;
    text-align: center;

}