body{
    background-color: #03D9FA;
}

main{
    margin-bottom: 100px;
}


img{

    width:300px;
    height:200px;
}

.carlist{
    margin-top: 50px;
    margin-bottom:30px;
}




footer{
    background-color: #0781C9;
    color:white;
}

.mainnavbar{
    background-color: #0781C9;
    color:white;
}

.mainnavbar a{
    color:white;
}

.list-group-item{
    margin-bottom:20px;
    margin-left:10px;
    margin-right:10px;
}

.carsearch{

    margin-bottom: 60px;

}

.editdelete button {
    margin-left: 25px;
}
