body{
    background-color: #03D9FA;
}

main{
    margin-bottom: 100px;
}


img{

    width:300px;
    height:200px;
}

.carlist{
    margin-top: 50px;
    margin-bottom:30px;
}




footer{
    background-color: #0781C9;
    color:white;
}


.list-group-item{
    margin-bottom:20px;
    margin-left:10px;
    margin-right:10px;
}

.carsearch{

    margin-bottom: 60px;

}

.editdelete button {
    margin-left: 25px;
}

.bottomfooter {
      position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/*.model {
    text-align: center;
}*/
.orderCar{
    margin: 0 auto;
    display:block;
    margin-top:10px;
    margin-bottom:5px;
}