
body {
    background-color:#b3e6ff;
    
}


main{
    margin-bottom: 30px;
}

footer{
  color: white;
  background-color: #1a8cff;
  margin-top: 30px;
}

header, body, footer
{
    margin-left: 2.5%;
    margin-right: 2.5%;
}
img{
    width:100px;
}