body {
    background-color:#b3e6ff;
    
}

footer{
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #1a8cff;
}

header, body, footer
{
    margin-left: 2.5%;
    margin-right: 2.5%;
}