@using CarRental.Models
@model LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}


    <div class="jumbotron text-center">
        <img src="~/Content/logos/3_White_logo_on_color1_190x72.png" id="logo" />
        <div class="jumbotext">          
            <h3>Dear User,</h3>
            <p>In order to log in as a Manager,please use Username:manager, Password: 123456</p>
            <p>To log in as Employee, Username: employee, Password: qwerty</p>
            <p>For customer plese sign up</p>
        </div>
    </div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script src="~/Scripts/ScriptLibriaries/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/ViewScripts/MainScript.js"></script>
<script src="~/Scripts/ViewScripts/HomeControllers/HomeControllerScript.js"></script>