
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>   
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/MainScript.js"></script>
    <link href="~/Content/MainStyle.css" rel="stylesheet" />
    <title>_layout</title>
</head>
<body>
   @RenderBody();
</body>
</html>
