
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>   
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/MainScript.js"></script>
    <link href="~/Content/MainStyle.css" rel="stylesheet" />
    <title>_layout</title>
</head>

 <div class="navbar navbar-default navbar-static-top">
     <div class="container">
    <a href="/">Zodiac Car Rental</a>
     <ul class="nav nav-pills navbar-right" >

         <li><a href="#">Search a Car</a></li>
         <li><a href="#">Your Reservation</a></li>
         <li><a href="#">Car return</a></li>
         <li><a href="#">Manager</a></li>


     </ul>
         </div>
 </div>

   @RenderBody();

</html>
