@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script>

  
</script>

<h2>Car Search</h2>
<main>
   


    <select name="transmission">
        <option value="0">Manual</option>
        <option value="1">Automatic</option>
    </select>

    <br />
    <select name="manufacturer">

    </select>
    <br />
    <select name="model"></select>
    <br />
    <input type="search" placeholder="search" />
    <br />
    <input type="datetime" />
    <br />
    
    <ul class="list-group carlist">

       
            @foreach (var car in Model)
            {
                <li id="@car.CarID">

                    @Html.Partial("SingleCarPartialView", car);
                    <img src="@Url.Action("GetImage", new { id = car.ModelID })" />


                </li>
            }

        </ul>

</main>