@using CRA.MVC.Models
@model IEnumerable<CarViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Success</h2>

<ul>
    @foreach (var car in Model)
    {
        <li>@car.CarID</li>


    }
</ul>