@using CarRental.MVC.Models

@model IEnumerable<CarViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script>

    $(function () {

        var GetAllCars = function (url) {
            $.getJSON(url, function (data) {

                allcars = data;

              

                for(let car of data)
                {
                    let result = ("<li>" + 'CarID: ' + car.CarID + '</br>'
                        + 'Milliage: ' + car.Mileage + '</br>'
                        + 'Car Number: ' + car.CarNumber + "</li></br></br></br>")
                    

                @*var dataID = data.ModelID;
               var imgSource = '@Url.Action("GetImage")'
                var img = $.get(imgSource, { id: data.ModelID })
                    .done(function (data) {
                        $('.carlist').append(result);
                    })*@

                    $('.carlist').append(result);
                }
            })

        }

        var allcarslink = '@Url.Action("GettAllCars", "CarSearch")';
        GetAllCars(allcarslink);
    });
</script>

<h2>Car Search</h2>
<main>
   


    <select name="transmission">
        <option value="0">Manual</option>
        <option value="1">Automatic</option>
    </select>

    <br />
    <select name="manufacturer">

    </select>
    <br />
    <select name="model"></select>
    <br />
    <input type="search" placeholder="search" />
    <br />
    <input type="datetime" />
    <br />
    
    <ul class="list-group carlist">
        @*@foreach (var car in Model)
        {
            <li>
           
                  @Html.Partial("SingleCarPartialView", car);
                  <img src="@Url.Action("GetImage", new {id = car.ModelID })" />
               
              
            </li>
        }*@
        </ul>

</main>